@charset "UTF-8";
@import "reset";

figure {
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, hotpink, violet);

	@import "header";

	section {
		width: 300px;
		height: 450px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -160px;
		margin-top: -220px;

		article {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;

			.inner {
				width: 100%;
				height: 100%;
				background: rgba(255, 255, 255, 0.7);
				position: absolute;
				top: 0px;
				left: 0px;
				border-radius: 20px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-content: center;
				padding: 40px;

				.pic {
					width: 200px;
					height: 200px;
					overflow: hidden;
					border-radius: 50%;
					margin-bottom: 30px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				h2 {
					font: 24px/1 "arial";
					color: #555;
				}
			}
		}
	}

	@import "footer";
}
